@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>M3 an ASP.NET Application</h1>
    <p class="lead">Built by Mark Foos. Following Mosh Hamedani's ASP.NET MVC 5 tutorial. <br />This project was completed as part of the .NET course at ASUMH under Michael Barnes</p>
    <p><a href="https://programmingwithmosh.com/courses/complete-asp-net-mvc-5-course/" class="btn btn-primary btn-lg">Mosh's Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a demonstration of a Movie company database. Log in using the credentials provided to access and modify "Movies" or "Customers" data tables. Use different log in's to access different RESTful servicecs from the ASP.NET API 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Credentials</h2>
        <p>Username: employee@M3.com</p>
        <p>Password: Employee1!</p>
        <p>Username: admin@M3.com</p>
        <p>Password: Admin1!</p>

    </div>
    <div class="col-md-4">
        <h2>Permissions and Features</h2>
        <p>Admin account has full CRUD privileges for both "Customers" and "Movies". Employee account has full CRUD privileges for "Customers" and read-only privileges for "Movies"</p>
        <p>Other features include: Client side form validation for all modified/new data and direct access to raw API data (below)</p>
        <p><a class="btn btn-default" href="https://localhost:44300/api/movies">Movies API Data (XML) &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44300/api/customers">Customers API Data (XML) &raquo;</a></p>
    </div>
</div>